.header-link::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.header-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgba(101, 129, 191, 0.5);
    z-index: 2000;
    transition: transform .3s ease;
}

.header-link {
    position: relative;
    z-index: 2020;
}

.minh-100 {
    min-height: 100vh;
}

.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}